{% extends 'base_v5.html' %}
{% load static %}

{% block content %}

<head>

<style type="text/css">

		 
		.card-body{
				
			cursor:default;
			
		} 
		
		
		.styled-table thead tr {
            background-color: #1a3738;
            color: #ffffff;
            text-align: left;
        }
		
		
		.styled-table{
			border-collapse: collapse;
            margin: 25px 0;
            font-size: 1em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            
            overflow-x: scroll;
		}
		
		.styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3dbd1;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }
		
		table tr td.me2{
            font-size: 2em;
        }
        span{
			color:white;
		}
		
		table tr td.me3 {
			  /*background: #e1f8f9;*/			  
			  color:black;
		      font-size:20px;		
			  font-weight:bolder;			  			  
			  text-align: left;
		}
		table tr td.me4 {
			  background: black;			  
			 
		}
		table tr td.me5 {
			  background: pink;			  
			  color:black;
		      font-size:25px;		
			  font-weight:bolder;			  			  
			  text-align: center;
		}
</style>


</head>

          
	<div class="card-body">
		<h2 class="card-title" style="margin-top:20px;color:darkblue;">Overview</h2>
	
	<table id="cas" class = "table  rounded shadow display styled-table" style="width:100% ">
				
				<h2 style="color:darkblue;font-weight:bolder;font-size:30px;text-align:center">Applicant's Status</h2>
				
				<a href="{% url 'account:home' user_id=request.user.id %}" style="float:right; font-size:25px;color:black;">Back</a>
                <thead style="position: sticky;top: 0;" class="stick">
					<tr>
						<th style="text-align: left; width:1%">Srl.</th>
						<th style="text-align: left; width:1%">ID</th>
						<th style="text-align: left; width:10%">Name</th>	
						<th style="text-align: left; width:30%">Department</th>
						<th style="text-align: center; width:1%;">Gen-Info<span>*</span></th>
						<th style="text-align: center; width:1%" class="w3-tooltip">Part-B(a)<span class="w3-text" style="color:white;"><em>Last Academic Quali</em>*</span></th>
						<th style="text-align: center; width:1%" class="w3-tooltip">Part-B(b)<span class="w3-text" style="color:white;"><em>Research Degrees</em>*</span></th>
						<th style="text-align: center; width:1%" class="w3-tooltip">Part-C(a)<span class="w3-text" style="color:white;"><em>Prior joining</em>*</span></th>
						<th style="text-align: center; width:1%" class="w3-tooltip">Part-C(b)<span class="w3-text" style="color:white;"><em>After joining</em>*</span></th>
						<th style="text-align: center; width:1%" class="w3-tooltip">Part-D(a)<span class="w3-text" style="color:white;"><em>Teaching Experience</em>*</span></th>
						<th style="text-align: center; width:1%" class="w3-tooltip">Part-E<span class="w3-text" style="color:white;"><em>Orientation</em>*</span></th>
						<th style="text-align: center; width:1%" class="w3-tooltip">API-Cat-1<span>*</span></th>
						<th style="text-align: center; width:1%" class="w3-tooltip">API-Cat-2<span>*</span></th>
					
						<th style="text-align: center; width:1%" class="w3-tooltip">III-A<span class="w3-text" style="color:white;"><em>Journal Publication</em>*</span></th>
						<th style="text-align: center; width:1%" class="w3-tooltip">III-B(i)<span class="w3-text" style="color:white;"><em>Pub.other than jrnl</em>*</span></th>
						<th style="text-align: center; width:1%" class="w3-tooltip">III-B(ii)<span class="w3-text" style="color:white;"><em>Jrnl from UGC list</em>*</span></th>
						<th style="text-align: center; width:1%" class="w3-tooltip">III-C(i)<span class="w3-text" style="color:white;"><em>Sponsored Project</em>*</span></th>
						<th style="text-align: center; width:1%" class="w3-tooltip">III-C(ii)<span class="w3-text" style="color:white;"><em>Consultancy Project</em>*</span></th>
						<th style="text-align: center; width:1%" class="w3-tooltip">III-C(iii)<span class="w3-text" style="color:white;"><em>Projects Outcome</em>*</span></th>
						<th style="text-align: center; width:1%" class="w3-tooltip">III-D<span class="w3-text" style="color:white;"><em>Research Guidance</em>*</span></th>
						<th style="text-align: center; width:1%" class="w3-tooltip">III-E(i)<span class="w3-text" style="color:white;"><em>Fellowship / Award</em>*</span></th>
						<th style="text-align: center; width:1%" class="w3-tooltip">III-E(ii)<span class="w3-text" style="color:white;"><em>Invited Lecture</em>*</span></th>
						<th style="text-align: center; width:1%" class="w3-tooltip">III-E(iii)<span class="w3-text" style="color:white;"><em>e-Learning Delivery</em>*</span></th>
						<th style="text-align: center; width:1%" class="w3-tooltip">Final<span class="w3-text" style="color:white;"><em>Final submission</em>*</span></th>
									
					</tr>
				</thead>
				
				 {% for appl in account %}
					<tr>
						<td class="me3">{{ forloop.counter }}</td>
						<td class="me3">{{ appl.id }}</td>
						<td class="me3">{{ appl.username }}</td>
						<td class="me3">{{ appl.Department.name }}</td>
						
						{% if appl.frm_general_info %}							
								<td class="me"style="font-size:30px;color:blue">&#x2705;</td>
						{% else %}
								<td class="me3"></td>
						{% endif %}
							
						{% for item in cas_sts %}
							{% if item.email_id ==  appl.id  %}
								{% if item.academy_no > 0 %}
									<td class="me2">{{ item.academy_no }}</td>
								{% else %}
								    <td class="me3"></td>
								{% endif %}
								
								{% if item.research_paper_no > 0 %}
									<td class="me2">{{ item.research_paper_no }}</td>
								{% else %}
									<td class="me3"></td>
								{% endif %}
								
								{% if item.priorpost_no > 0 %}
									<td class="me2">{{ item.priorpost_no }}</td>
								{% else %}
									<td class="me3"></td>
								{% endif %}
								
								{% if item.present_post_no > 0 %}
									<td class="me2">{{ item.present_post_no }}</td>
								{% else %}
									<td class="me3"></td>
								{% endif %}
								
								{% if item.teaching_no > 0 %}
									<td class="me2">{{ item.teaching_no }}</td>
								{% else %}
									<td class="me3"></td>
								{% endif %}
								
								{% if item.orientation_no > 0 %}
									<td class="me2">{{ item.orientation_no }}</td>
								{% else %}
									<td class="me3"></td>
								{% endif %}
								
								{% if item.api_catg1_no > 0 %}
									<td class="me2">{{ item.api_catg1_no }}</td>
								{% else %}
									<td class="me3"></td>
								{% endif %}
		
								{% if item.api_catg2_no > 0 %}
									<td class="me2">{{ item.api_catg2_no }}</td>								
								{% else %}
									<td class="me3"></td>
								{% endif %}
								
								{% if item.jrnl_pub_no > 0 %}
									<td class="me2">{{ item.jrnl_pub_no }}</td>								
								{% else %}
									<td class="me3"></td>
								{% endif %}
								
								{% if item.pub_other_no > 0 %}
									<td class="me2">{{ item.pub_other_no }}</td>								
								{% else %}
									<td class="me3"></td>
								{% endif %}
								
								{% if item.jrnlpaper_no > 0 %}
									<td class="me2">{{ item.jrnlpaper_no }}</td>								
								{% else %}
									<td class="me3"></td>
								{% endif %}
								
								{% if item.resch_proj_no > 0 %}
									<td class="me2">{{ item.resch_proj_no }}</td>								
								{% else %}
									<td class="me3"></td>
								{% endif %}
								
								{% if item.resch_cons_no > 0 %}
									<td class="me2">{{ item.resch_cons_no }}</td>								
								{% else %}
									<td class="me3"></td>
								{% endif %}
								
								{% if item.prj_outcm_no > 0 %}
									<td class="me2">{{ item.prj_outcm_no }}</td>								
								{% else %}
									<td class="me3"></td>
								{% endif %}
								
								{% if item.resch_guide_no > 0 %}
									<td class="me2">{{ item.resch_guide_no }}</td>								
								{% else %}
									<td class="me3"></td>
								{% endif %}
								
								{% if item.fellow_award_no > 0 %}
									<td class="me2">{{ item.fellow_award_no }}</td>								
								{% else %}
									<td class="me3"></td>
								{% endif %}
								
								{% if item.lecture_paper_no > 0 %}
									<td class="me2">{{ item.lecture_paper_no }}</td>								
								{% else %}
									<td class="me3"></td>
								{% endif %}
								
								{% if item.e_learning_no > 0 %}
									<td class="me2">{{ item.e_learning_no }}</td>								
								{% else %}
									<td class="me3"></td>
								{% endif %}
								
							{% endif %}
							
						{% endfor %}
						
						{% if appl.frm_submitted  %}							
								<td class="me" style="font-size:30px;">&#x1F197;</td>
						{% else %}
								<td class="me3"></td>
						{% endif %}
						
					</tr>
						
				 {% endfor %}
				 <tr><td class="me4" colspan="25"></td></tr>
				 <tr>
					<td class="me3" colspan="2"></td>
					<td class="me3" style="font-size:25px;">Total(nos.)</td>
					<td class="me3" style="font-size:25px;">Only Registered :&nbsp&nbsp{{ only_reg }}</td>					
					<td class="me5" style="background-color:yellow;">{{ gen_info }}</td>
					<td class="me3" style="font-size:25px;" colspan="4">In process</td>
					<td class="me3" colspan="12"></td>
					<td class="me3" style="font-size:25px;" colspan="2">Completed</td>
					<td class="me5" style="background-color:green;color:yellow;">{{ frm_sub }}</td>
				 </tr>
				 
				 
	</table>
	
	
	</div>
	
<script type="text/javascript">
        
</script>

{% endblock content %}