<!--Html for adding records in Pub_other-->
{% extends 'base_v2.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<style>
  

      span{
        color:red;
      }
      html {
        font-family: verdana;
        font-size: 10pt;        
      }
      
      table {
        border-collapse: collapse;
        width: 900px;
        height : 405px;
        overflow-y: scroll;
        overflow-x: hidden !important;
        display: block;
      }

      td,
      th {        
        height: 15px;
        border: dashed 1px lightblue;
        }

     th{
         width:400px;
         font-size:20px;
     }
     td{
        width:800px;
        font-size:25px;
    }

     .form-number{
        text-align: center; 
        width: 60pt;        
     }

     input[type=number]::-webkit-inner-spin-button, 
     input[type=number]::-webkit-outer-spin-button { 
           -webkit-appearance: none; 
           margin: 0; 
     }
     .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
     }
  </style>


<form id="formAdd" action="" method="POST" enctype="multipart/form-data" >

    {% csrf_token %}
	
		
     <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 60%;">
          
        <div class="card-body">
		  
        {% if form1.errors %}
          <div class="alert-warning center">
              <h2>{{form1.non_field_errors}}</h2>
          </div> 
        {% endif %}

          <h2 class="card-title" style="font-weight:bold;">III-B (i) : Publications other than journal articles (Add New)
            <a href="{% url 'catg_3:pub-other' user_id=request.user.id %}" class="previous" style="text-decoration:none;float:right;"><i class="fa fa-window-close" style="font-size:36px"></i></a>
          </h2>
		

          <br>
  
                
          <table class="table table-striped">
        
                <tr>
                    <th VALIGN=middle>Year of Publication<span>*</span></th>
                    <td>{{form1.yr_pub}}</td>
                </tr>        
                <tr>
                    <th VALIGN=middle>Type of Publication<span>*</span></th>
                    <td>{{form1.pub_type}}</td>
                </tr>	
                <tr id="other" style="display:none;">
                  <th VALIGN=middle>Title of the Chapter/<br>Paper<span>*</span></th>
                  <td >{{form1.chap_title}}</td>
                </tr>
                <tr id="bk_title" >
                  <th VALIGN=middle>Title of the Book/<br>Proceedings<span>*</span></th>
                  <td>{{form1.bk_title}}</td>
                </tr>
                <tr>
                    <th VALIGN=middle>No.of Authors<span>*</span></th>
                    <td>{{form1.no_auth}}</td>
                </tr>
                <tr>
                    <th VALIGN=middle>Name of <br> Publisher<span>*</span></th>
                    <td>{{form1.name_pub}}</td>
                </tr>
                <tr>
                  <th VALIGN=middle>Status of Publisher<span>*</span></th>
                  <td>{{form1.sts_pub}}</td>
                </tr>
                <tr>
                  <th VALIGN=middle>ISBN/ISSN No<span>*</span></th>
                  <td>{{form1.isbn_no}}</td>
                </tr>
                
                <tr>
                  <th VALIGN=middle>Document Link<span>*</span></th>
                  <td>{{form1.pub_url}}</td>
                </tr>
                
                <tr>
                  <td style="display:none;">{{form1.self_api_score}}</td>
                  <td style="display:none;">{{form1.veri_api_score}}</td>
                </tr>
            </table>
    
            <div style="width:200px;float:left;">
              <button type="submit" id="btnSubmit" style="font-weight:bolder;" class="btn btn-success btn-block btn-lg">
                Save Record</button>
              </div>  
	        
        </div>
      </div>  

</form>
          

<script type="text/javascript">


function limit_input() {
				var field = document.getElementById("id_yr_pub");
				var max_length = 4;
				
				if (field.value.length > max_length) {
					field.value = field.value.slice(0, max_length); 
				}
				
}

function limit_auth() {
				var field = document.getElementById("id_no_auth");
				var max_length = 2;
				
				if (field.value.length > max_length) {
					field.value = field.value.slice(0, max_length); 
				}
				
}


function check_other() {    
          
    var pub_type = $('select#id_pub_type').val();
    	
    if (pub_type == 'BK_CHAP') {		
        $("#other").show("fast");       
		$("[name='chap_title']").attr("required", true);	
    }
	else {
		$("#id_chap_title").val('');
		$("[name='chap_title']").attr("required", false);	
		$("#other").hide("fast");
	}    
  }

  
  $("form").submit(function(){    

    var pub_val    = $('#id_pub_type').val();
    var sts_val    = $('#id_sts_pub').val(); 
    var no_auth    = $('#id_no_auth').val();
	  var chp_title  = $('#id_chap_title').val();
	
	
    if (pub_val == "TEXT_BK") {
      if (sts_val == "INTL") {
          var pb =30;
        
      }
      else if (sts_val == "NATL") {
          var pb =20;              
      } 
      else if (sts_val == "LOCL") {
          var pb =15;              
      }
	 	  
    }
    else if (pub_val == "REF_BK") {
      if (sts_val == "INTL") {
          var pb =30;
      }
      else if (sts_val == "NATL") {
          var pb =20;              
      } 
      else if (sts_val == "LOCL") {
          var pb =15;              
      }
	}
    else if (pub_val == "BK_CHAP") {
      if (sts_val == "INTL") {
          var pb =10;
      }
      else if (sts_val == "NATL") {
          var pb =5;              
      } 
      else if (sts_val == "LOCL") {
          var pb =0;              
      }
	  
	  
    }
    
    var pb = parseInt(pb);
    var no_auth = parseInt(no_auth);
    
    
    var api=parseFloat(pb/parseInt(no_auth)).toFixed(2);
    
    
    
    var field1 = document.getElementById("id_self_api_score");				
    field1.value = parseFloat(api).toFixed(2);
    
    var field2 = document.getElementById("id_veri_api_score");				
    field2.value = parseFloat(api).toFixed(2);
    
    
    
    });
    
</script>

{% endblock content %}
