{% load static %}

<head>
	<title>JU CAS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
</head>
<style>
	a {
		text-decoration: none;
		
	}

	a:hover {
		background-color: gold;
	}
	
	a:hover:not(.active) 
	{
		  background-color: #111;
	}
	
	a.active
	{
    background-color: #EAB126

	}
	.navbar-brand {
		transform: translateX(-50%);
		left: 50%;
		width:100%;
			
		position: absolute;
		
	  }
	.nav{
		background-color: rgb(6, 6, 48);	
	}  
	.dropdown-container {
		display: none;
		background-color: rgb(8, 8, 70);
		padding-left: 8px;
		
	}
	  
</style>

<!-- Header -->
<div1 class="d-flex flex-column flex-lg-row p-5 px-md-5 mb-3 text-dark bg-blue border-bottom shadow-sm">

	<!-- MEDIUM+ SCREENS -->
{% comment %} 	
	 <span>
		{% if request.user.is_authenticated %}
				
					<img style="width: 90px;position:relative;padding:5px;margin-button:5px;" class="rounded float-left" src="{% static 'images/ju_logo.png' %}" alt="JU logo">
				{% else %}
					<img style="width: 90px;" src="{% static 'images/ju_logo.png' %}" alt="JU logo">	
				
				{% endif %}
	</span> {% endcomment %}
	 
 	
	<div2 class="d-none d-md-flex flex-row my-auto flex-grow-1 align-items-center">		
		<div3 class="navbar-brand" >
			
			
			    {% if request.user.is_authenticated %}
				<div>
					<img style="float:left;width: 90px;position:relative;padding:5px;margin-button:5px;" class="rounded float-left" src="{% static 'images/ju_logo.png' %}" alt="JU logo">
				<h1 class="text-center" style="margin-top: 5px; line-height : 60px">Application for Career Advancement Scheme (CAS)</h1>
				</div>
				
				
				   {% if user.is_admin %}
				   		<p class="text-center" style="text-transform: uppercase;padding-top: 1px;">Welcome Admin, {{ request.user.username }}.</p>
				   {% else %}
				   		<p class="text-center" style="text-transform: uppercase;padding-top: 1px;">Welcome, {{ request.user.username }}.</p>
				   {% endif %}
				{% else %}
						
					<h2 >Application for Career Advancement Scheme (CAS)</h2>
				
				{% endif %}
				<div class="navbar-header">
				<div  id="wrapper" class="w3-bar w3-red w3-card w3-right w3-large" >
					{% comment %} <a id="navDemo" class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a> {% endcomment %}
					<a href="{% url 'account:home' user_id=request.user.id %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large " >Home</a>
					<a href="{% url 'account:cas' user_id=request.user.id %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">General Information</a>
					<a href="{% url 'account:academy' user_id=request.user.id %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Academic Qualifications</a>
					<a href="{% url 'account:professional' user_id=request.user.id %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Professional Experience</a>
					<a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Teaching Experience</a>
					<a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Orientation / Refresher Courses</a>
				</div>
				</div>

		</div3>

		<div4 class="d-flex flex-row-reverse flex-grow-1">
			<nav>
				{% if request.user.is_authenticated %}
					
					<div class="dropdown dropleft show p-2">
						
						<div class="d-flex flex-row">							
							<a class="p-2 bg-secondary text-white" href="{% url 'account:home' user_id=request.user.id %}" style="font-size: 120%;" >Home</a>&nbsp&nbsp&nbsp
							<a class="p-2 bg-secondary text-white" href="{% url 'password_change' %}" style="font-size: 120%;">Change Password</a>&nbsp&nbsp&nbsp
							
						
							
							<a class="p-2 bg-secondary text-white" href="{% url 'logout' %}"style="font-size: 120%;">Logout</a>
							
						</div>
						
					</div>
				{% else %}
					<a class="p-2 bg-secondary text-white" href="{% url 'login' %}">Login now</a>
					
					<a class="btn bg-secondary text-white" href="{% url 'register' %}">Register</a>
				{% endif %}	
						

			</nav>
		</div4>
	</div2>
	<!-- END MEDIUM+ SCREENS -->

	<!-- SMALL SCREENS -->
	<div1 class="d-flex d-md-none flex-column my-auto align-items-center">

		<div2 class="d-flex flex-row-reverse flex-grow-1">
			<nav class="">
				{% if request.user.is_authenticated %}
				<div class="dropdown dropleft p-2 mt-2">
					<div class="d-flex flex-row">
						<div class="btn-group dropleft">


							<div class="dropdown-menu" aria-labelledby="id_profile_links">
								<a class="dropdown-item" href="{% url 'password_change' %}">Change pwd</a>
								<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
							</div>
						</div>
					</div>
				</div>
				{% else %}
					<a class="p-2 text-dark" href="{% url 'login' %}">Login</a>
					<a class="btn btn-outline-primary m-2" href="{% url 'register' %}">Register</a>
				{% endif %}	

	
			</nav>
	  	</div2>
	</div1>
	<!-- END SMALL SCREENS -->
</div1>

  <!-- </div> -->
  </div>


 <!-- insert scripts here -->
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 
<script>

	window.onload = function(){
        
       
        var wrapper = document.getElementById('wrapper');
      
        wrapper.onclick = function(){
         
            wrapper.style.backgroundColor = "red";
          }
          else{
            
            wrapper.style.backgroundColor = '';
          }
        };
      }  

</script>