{% load static %}

<head>
	<title>JU CAS</title>
    
</head>
<style>
	
	
	
	
	.navbar-brand {
		transform: translateX(-50%);
		left: 50%;
		width:100%;
			
		position: absolute;
		
	  }
	.nav{
		background-color: rgb(6, 6, 48);	
	}  
	.dropdown-container {
		display: none;
		background-color: rgb(8, 8, 70);
		padding-left: 8px;
		
	}
	  
</style>

<!-- Header -->
<div1 class="d-flex flex-column flex-lg-row p-5 px-md-5 mb-3 text-dark bg-blue border-bottom shadow-sm">

	<!-- MEDIUM+ SCREENS -->
	
	 
 	
	<div2 class="d-none d-md-flex flex-row my-auto flex-grow-1 align-items-center">		
		<div3 class="navbar-brand" >
			
			
			   
				<div>
					<img style="float:left;width: 90px;position:relative;padding:5px;margin-button:5px;" class="rounded float-left" src="{% static 'images/ju_logo.png' %}" alt="JU logo">
				<h1 class="text-center" style="margin-top: 5px; line-height : 60px">Application for Career Advancement Scheme (CAS)</h1>
				</div>
				
				
				   
				
		</div3>

		<div4 class="d-flex flex-row-reverse flex-grow-1">
			<nav>
				{% if request.user.is_authenticated %}
					
					<div class="dropdown dropleft show p-2">
						
						<div class="d-flex flex-row">							
							<a class="p-2 bg-secondary text-white" href="{% url 'account:home' user_id=request.user.id %}" style="font-size: 120%;" >Home</a>&nbsp&nbsp&nbsp
							<a class="p-2 bg-secondary text-white" href="{% url 'password_change' %}" style="font-size: 120%;">Change Password</a>&nbsp&nbsp&nbsp
							
						
							
							<a class="p-2 bg-secondary text-white" href="{% url 'logout' %}"style="font-size: 120%;">Logout</a>
							
						</div>
						
					</div>
				{% else %}
					<a class="p-2 bg-secondary text-white" href="{% url 'login' %}">Login now</a>
					
					<a class="btn bg-secondary text-white" href="{% url 'register' %}">Register</a>
				{% endif %}	
						

			</nav>
		</div4>
	</div2>
	<!-- END MEDIUM+ SCREENS -->

	<!-- SMALL SCREENS -->
	<div1 class="d-flex d-md-none flex-column my-auto align-items-center">

		<div2 class="d-flex flex-row-reverse flex-grow-1">
			<nav class="">
				{% if request.user.is_authenticated %}
				<div class="dropdown dropleft p-2 mt-2">
					<div class="d-flex flex-row">
						<div class="btn-group dropleft">


							<div class="dropdown-menu" aria-labelledby="id_profile_links">
								<a class="dropdown-item" href="{% url 'password_change' %}">Change pwd</a>
								<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
							</div>
						</div>
					</div>
				</div>
				{% else %}
					<a class="p-2 text-dark" href="{% url 'login' %}">Login</a>
					<a class="btn btn-outline-primary m-2" href="{% url 'register' %}">Register</a>
				{% endif %}	

	
			</nav>
	  	</div2>
	</div1>
	<!-- END SMALL SCREENS -->
</div1>

  <!-- </div> -->
  </div>


 <!-- insert scripts here -->
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 
 <script>
	 
	{% comment %} function myFunction() {
		var x = document.getElementById("navDemo");
		if (x.className.indexOf("w3-show") == -1) {
		  x.className += " w3-show";
		} else { 
		  x.className = x.className.replace(" w3-show", "");
		}
	  } {% endcomment %}
	</script>



































