<style type="text/css">
	label{
		color: blue;
	}
	
     input[type=number]::-webkit-inner-spin-button, 
     input[type=number]::-webkit-outer-spin-button { 
           -webkit-appearance: none; 
           margin: 0; 
     }
	 table {
        border-collapse: collapse;
        overflow-y: scroll;
        overflow-x: hidden !important;
        display: block;
      }

	  td,th {        
        border: dashed 1px lightblue;
		width:100%;
		
        }

    
     td {
        height:20px !important;
    }
	.card-body {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
		width:80%;
		height:40%;
     }
	 textarea.form-control {
    height:15px !important;
	}

	 
</style>