{% extends 'base_v2.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<form action="" method="POST" enctype="multipart/form-data">

    {% csrf_token %}

	<div class="card shadow p-3 mb-5 bg-white rounded" style="width: 65%;margin-left:50px;">
          
		<div class="card-body" >
				   <h3 class="card-title" style="font-weight:bold;">Part E. Orientation / Induction Program(s) or Refresher / <BR> Short-term Course(s) Attended (Modification):
				   
				    {% if user.is_applicant %}
						<a href="{% url 'account:orient' user_id=request.user.id %}" class="previous" style="text-decoration:none;float:right;"><i class="fa fa-window-close" style="font-size:36px"></i></a>
					{% endif %}
					
				   </h3>	
	   			  
	<table class="table table-striped">
	
	
	<tr>
		<td style="display:none;">{{form6.email|as_crispy_field}}</td>
		<tr>
			<th style="color:white;border: none;"></th>
			<th style="color:white;border: none;"></th>
		</tr>
		<tr>
			<td>{{form6.title|as_crispy_field}}</td>
		</tr>
		<tr>
			<td>{{form6.place|as_crispy_field}}</td>
		</tr>
		<tr>
			<td>{{form6.duration|as_crispy_field}}</td>
		</tr>
		<tr>
			<td>{{form6.period|as_crispy_field}}</td>
		</tr>		
		<tr>
			<td>{{form6.url_link|as_crispy_field}}</td>
		</tr>
		
	</tr>


	</table>

	<div style="width:200px;">
		<button type="submit" style="font-weight:bolder;" class="btn btn-success btn-block btn-lg">
			Save & Exit</button>
	</div>
	


	</div>
</div>

    
</form>

<script type="text/javascript">

</script>

{% endblock content %}
